{{- $coverImage := .Resources.GetMatch "cover*" -}}

{{- if $coverImage -}}
  <a class="featured-image-link"
     href="{{ .Permalink }}"
     title="{{ .Title }}">
    <div class='featured-image lazy lazy-bg-image'
         data-background="{{ $coverImage.RelPermalink }}"></div></a>
{{- end -}}

<div class="excerpt-container">
  <div class="excerpt-meta">
    <span class="date">{{ .Date.Format .Site.Params.DateForm }}</span>
    {{ if and (isset .Site.Params "author") .Site.Params.author }}
      <span> / </span>
      <span class="author">
        {{ if and (isset .Site.Params "authorlink") .Site.Params.authorLink }}
          <a href="{{ .Site.Params.authorLink | default "" | absURL }}" title="Posts by {{ .Site.Params.author | default "" }}" rel="author">{{ .Site.Params.author | default "" }}</a>
        {{ else }}
          {{ .Site.Params.author | default "" }}
        {{ end }}
      </span>
    {{ end }}
   {{ range .Params.categories }}
    <span> / </span>
    <span class="category">
      <a href="/categories/{{ . | urlize }}">{{ . }}</a>
    </span>
  {{ end }}
</div>

<div class='excerpt-header'>
  <h2 class='excerpt-title'>
    <a href="{{ .Permalink }} "> {{ .Title }} </a>
  </h2>
</div>

<div class='excerpt-content'>
  <article>
    {{ .Summary }}

    <div class="more-link-wrapper"><a class="more-link" href="{{ .Permalink }}">Read more<span class="screen-reader-text">This is a Standard Post</span></a></div>
  </article>
</div>
