{{ define "main" }}
  <div class="archive-header">
    <h1>
      {{- if isset .Data "Plural" -}}
        <p>
          <a class="p-category" href="/{{ .Data.Plural }}/">{{ .Data.Plural }}</a>
          <span>/</span>
          <a class="p-category" href="/{{ .Data.Plural }}/{{ .Title | urlize }}/">
            {{ .Title | urlize }}
          </a>
        </p>
      {{- end -}}
    </h1>
    {{ .Content }}
  </div>
  <h1 class="screen-reader-text">Posts</h1>
  <div id="loop-container" class="loop-container">
    {{- range $index, $element := .Pages -}}
    {{- $coverImage := $element.Resources.GetMatch "cover*" -}}
    {{- if $coverImage -}}
      {{ if eq (mod $index 2) 0 }}
        <div class="post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-memories tag-normal-post tag-standard-2 excerpt zoom full-without-featured odd excerpt">
      {{ else }}
        <div class="post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-memories tag-normal-post tag-standard-2 excerpt zoom full-without-featured even excerpt">
      {{ end }}
    {{- else -}}
      <div class="post type-post status-publish format-standard hentry category-standard category-travel excerpt zoom full-without-featured odd excerpt">
    {{- end -}}
    
    {{- with $element -}}
      {{ .Render "li" }}
    {{- end -}}

  </div>
</div>
    {{- end -}}
  </div>
{{- end -}}
