<h1 class="screen-reader-text">Posts</h1>

<div id="loop-container" class="loop-container">
  {{- $contentPages := (where (where .Site.Pages "Type" "in" (slice "post" "craft")) "IsPage" true) -}}
  {{- $paginator := .Paginate $contentPages -}}
  {{- range $index, $element := .Paginator.Pages -}}
    {{- $coverImage := $element.Resources.GetMatch "cover*" -}}
    {{- if $coverImage -}}
      {{- if eq (mod $index 2) 0 -}}
	<div class="post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-memories tag-normal-post tag-standard-2 excerpt zoom full-without-featured odd excerpt">
      {{- else -}}
        <div class="post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-memories tag-normal-post tag-standard-2 excerpt zoom full-without-featured even excerpt">
      {{- end -}}
    {{- else -}}
      <div class="post type-post status-publish format-standard hentry category-standard category-travel excerpt zoom full-without-featured odd excerpt">
    {{- end -}}

    {{ $element.Render "li" }}
      </div>
  </div>
{{ end }}
</div>
